@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(44, 43, 43);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav Bar */

.navbar {
  width: 91.6%;
  height: 98vh;
  border-radius: 15px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 7px;
  background-color: rgb(0, 0, 0);
}

.navAdv {
  position: center;
  border-radius: 15px;
  width: 70%;
  height: auto;
}

#goShop {
  border: 1px solid white;
  display: flex;
  height: 40px;
  width: 93%;
  border-radius: 20px;
  background-color: white;
  color: black;
  align-items: center;
  padding: 0px 2px 0px 2px;
  justify-content: space-between;
  word-spacing: 5px;
}

#goShopButton {
  border: 1px solid white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all ease-in 2s;
}


.navContent {
  border: 1px solid rgba(255, 255, 255, 0.149);
  width: 24%;
  height: 33%;
  position: absolute;
  bottom: 10px;
  left: 13px;
  border-radius: 15px;
  background-color: black;
  color: white;
  padding: 0px 0px 0px 25px;
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
}

.navIcons {
  width: 8%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: black;
  color: white;
  margin-left: -20px;
}

.navIcons  a {
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  transition: all ease 0.3s;
}

.navIcons  a:hover {
  color: black;
  background-color: white;
  transform: scale(1.1);
}

.navAside {
  width: 17%;
  height: 93%;
  position: absolute;
  right: 20px;
  bottom: 23px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#aside1,
#aside2 {
  width: 100%;
  height: 48%;
  border: 1px solid rgb(53, 52, 52);
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
}

#Transmission {
  width: 100%;
}

#transmissionCnt {
  width: 70%;
  height: 20%;
  text-align: center;
}

#logoCtn {
  position: absolute;
  bottom: 40px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

#Logo {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* Middle Body */

section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 55px;
}

h2 {
  display: inline-block;
  text-align: center;
  color: white;
}

#bodyCtn {
  color: rgba(255, 255, 255, 0.43);
  margin-top: -10px;
}

.middleButtons {
  height: 40vh;
  margin: 50px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#firstBtn,
#secondBtn,
#thirdBtn {
  width: 290px;
  border-radius: 30px;
  height: 250px;
  border: 0px;
  box-shadow: -1px 2px 39px 2px rgba(0,0,0,0.75);
  background-color: rgba(0, 0, 0, 0.53);
  transition: all ease 0.3s;
}

#firstBtn:hover,
#secondBtn:hover,
#thirdBtn:hover {
  transform: scale(1.05);
  cursor: pointer;
  content: 'Show More';
}

img { 
  display: flex;
  align-items: center;
  justify-content: center;
}

#decSpan {
  width: 50%;
  right: 0px;
  height: 70vh;
  z-index: -2;
  background-color: rgba(255, 255, 255, 0.278);
  border-radius: 15px 0px 0px 15px;
  position: absolute;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.523);
  margin-top: 35px;
}

#section2 {
  width: 100%;
  height: 160vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#BoxAcc,
#GiviAcc,
#ExhaustAcc {
  width: 60%;
  height: 40vh;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
}

#BoxAcc {
  margin-left: -400px;
}

#GiviAcc {
  margin-left: 500px;
}

#ExhaustAcc {
  margin-left: -220px;
}

#ExhaustAcc img {
  filter: drop-shadow(5px 5px 80px #999797a0);
  cursor: pointer;
}

#GiviAcc img {
  filter: drop-shadow(5px 5px 80px #999797a0);
  cursor: pointer;
}

#BoxAcc img {
  filter: drop-shadow(5px 5px 80px #999797a0);
  cursor: pointer;
}


/* Login Page */

#loginPage {
  width: 80%;
  height: 85vh;
  border: 1px solid white;
  margin: 3% auto;
  border-radius: 15px;
  display: flex;
}

#leftCtn {
  width: 50%;
  height: 100%;
  background-image: url('./assetss/xadd.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 0px 0px 15px;
}
#rightCtn {
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} 

h2 {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 80%;
}

.fromSU {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email,
#password {
  width: 80%;
  height: 40px;
  margin: 5px 0px;
  padding: 0px 10px;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 16px;
}

#register {
  width: 80%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all ease 0.3s;
} 

#socialBtns {
  width: 70%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socialBtn {
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 20%;
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 25px;
  transition: all ease 0.3s;
}

.socialBtn:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}

#appleBtn img {
  width: 60%;
  height: 65%;
}

#facebookBtn img {
  width: 83%;
  height: 80%;
}

#googleBtn img {
  width: 55%;
  height: 50%;
}

/* Location Page */

#locationCtn {
  width: 100%;
  height: 97vh;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  background-color: white;
}

#locationImg {
  width: 70%;
  height: 60%;
  margin: 120px auto;
  position: absolute;
  left: 18%;
}

#locationInf {
  width: 60%;
  height: 25vh;
  position: absolute;
  bottom: 20px;
  left: 21%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box1 {
  width: 100px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2 {
  width: 100px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box3 {
  width: 100px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dots1 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 29%;
  cursor: pointer;
  right: 30%;
  z-index: 1;
}

#dots2 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 32%;
  right: 41%;
  z-index: 1;
  cursor: pointer;
}

#dots3 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 42%;
  right: 50%;
  z-index: 1;
  cursor: pointer;
}

#dots4 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 32%;
  left: 27%;
  z-index: 1;
  cursor: pointer;
}

#dots5 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 51%;
  left: 35%;
  z-index: 1;
  cursor: pointer;
}

#dots6 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 52%;
  right: 46%;
  z-index: 1;
  cursor: pointer;
}

#dots7 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  border: 4px solid rgb(193, 188, 188);
  position: absolute;
  top: 57%;
  right: 23%;
  z-index: 1;
  cursor: pointer;
}

#locationSelect {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 14%;
  left: 45.6%;
  z-index: 1;
  transform: translateX(-50%);
  border: 1px solid gray;
  padding: 0px 15px 0px 10px;
}

#searchLocation {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 14%;
  right: 38%;
  transform: translateX(-50%);
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 1;
}

#Paris,
#NewYork,
#London,
#Tokyo,
#Berlin,
#Skopje,
#Sydney {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 56% 75%, 48% 100%, 38% 74%, 0% 75%);
  background-color: rgba(0, 0, 0, 0.797);
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: center;
  color: white;
  position: absolute;
  z-index: 2;
  display: none;
}


#dots1:hover + #Paris,
#dots2:hover + #NewYork,
#dots3:hover + #London,
#dots4:hover + #Tokyo,
#dots5:hover + #Sydney,
#dots6:hover + #Skopje,
#dots7:hover + #Berlin {
  display: flex;
}

/* Cart Page */

.CartPage {
  width: 100%;
  height: 97vh;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  background-color: rgb(208, 206, 206);
}
.shoppingBsk {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#subTotal {
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  color: black;
}

#linkSub {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-size: 15px;
}

/* Payment Section */

.Payment {
  width: 30%;
  border-radius: 15px;
  background-color: rgb(63, 58, 58);
  height: 90%;
  margin: auto 15px auto 0px;
}

#paymentInfo {
  width: 90%;
  height: 45vh;
  padding: 0px 25px;
  border-radius: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}

#Card {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

#MasterCard {
  width: 25%;
  height: 30%;
  margin-right: -60%;
}

.cardInfo {
  background-color: rgb(160, 158, 155);
  width: 20%;
  right: 17%;
  border-radius: 5px;
  height: 20vh;
  position: absolute;
}

#cardNumbers {
  position: absolute;
  top: 40%;
  width: 80.5%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 30px;
  left: 9%;
  color: white;
}

#Visa {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 5%;
  right: 0%;
  opacity: 0.1;
}

#cardHolder {
  position: absolute;
  bottom: 10%;
  left: 15%;
  color: white;
  width: auto;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#expiryDate {
  color: white;
  position: absolute;
  bottom: 10%;
  right: 15.5%;
  width: auto;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalInfo {
  width: 25%;
  position: absolute;
  bottom: 7%;
  height: 42vh;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
}

#CardNumber,
#CardHolder {
  width: 99%;
  height: 4vh;
  padding: 2px;
  border: 0px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  font-size: 16px;
  color: white;
}

.personalInfo label {
  color: rgba(156, 155, 155, 0.711);
}

#exp,
#cvv {
  width: 70px;
  border: 0px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  color: white;
}

#expCvv {
  width: 99%;
  height: 7vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#payBtn {
  width: 100%;
  height: 7vh;
  border: none;
  border-radius: 3px;
  background-color: rgb(24, 78, 228);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-bottom: 10px;
}

#payBtn:hover {
  transform: scale(1.05);
}

/* Product List */

.box-ctn {
  border-top: 1px solid white;
  height: 30vh;
  width: 102%;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-ctn > h2, p, button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Footer */

#top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  width: 85%;
  margin: 10px auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.442);
}

.leftFooter {
  width: 50%;
  height: 100%;
  width: 30%;
  height: 60%;
  padding: 45px;
  color: white;
}

.rightFooter {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#bottom-footer {
  width: 70%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: rgb(44, 43, 43);
  color: white;
  margin: 100px auto;
}

.leftBottomFooter {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.rightBottomFooter {
  height: 60%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  color: #b5b4b4c7;
  transition: all 0.3s ease;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

li:hover {
  transform: scale(1.1);
  color: white;
  transition: all 0.3s ease;
}


#productlist-page > h2 {
  border-radius: 50%;
  height: 80px;
  text-align: center;
  width: 80px;
  display: flex;
  color: white;
  font-size: 50px;
  margin-left: 20px;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

#productlist-page > h2:hover {
  background-color: white;
  color: black;
  transition: all ease 0.3s;
}

#backIcon {
  height: 50px;
  width: 50px;
  font-size: 43px;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  text-align: center;
  transition: all ease 0.3s;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgb(125, 117, 117);
  color: white;
}

#backIcon:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
  background-color: rgb(40, 40, 40);
}